<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/onbording"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <h1>Login</h1>
    <p>Use your email and passaword to login</p>
  </div>

  <form>
    <div class="form-field">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input type="email" placeholder="Email adress"></ion-input>
    </div>
    <div class="form-field">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="Password"></ion-input>
    </div>

    <ion-button expand="block" routerLink="/home">Login</ion-button>

    <div class="forgot-password">
      <a routerLink="/forgot-password">Forgot Password</a>
    </div>
  </form>
</ion-content>

