.image-container{
    margin-top:8vh ;
    display: flex;
    justify-content: center;

    ion-img{
        width: 70%;
    }
}

.message-container {
    margin-top: 6vh;
    margin-bottom: 5vh;
    text-align: center;

    h1{
        font-weight: 700;
        font-size: 30px;
        color: var(--ion-color-dark-tint);
    }

    .text-warning{
        color: var(--ion-color-warning);
    }

    .text-danger {
        color: var(--ion-color-danger-tint);
    }

}

.social-login-container{
    border-top: 1px solid var(--ion-color-medium);
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        top: 0;
        margin: 0;
        text-align: center;
        margin-top: -8px;
        background: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        font-size: small;
        font-weight: 500;
    }
    
    .socials{
        display: flex;
        justify-content: space-around;
        width: 35%;
        margin-top: 2vh;
    }

    .social-icon{
        width: 40px;
        height: 40px;

        ion-img{
            height: 100%;
            width: 100%;
        }
    }


}