
<ion-content class="ion-padding">
  <div class="image">
    <ion-img src="../../../assets/scooter.jpg"></ion-img>
  </div>

  <div class="message-container">
    <h1>Get the <span class="text-warning">fastest</span>
      <br>Delivery Groceries <br> <span class="text-danger">at Home</span>
    </h1>
  </div>

  <div>
    <ion-button expand="block" class="ion-margin-button" routerLink="/login">Login</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/register">Register</ion-button>
  </div>

  <div class="social-login-container">
    <p>Or login with</p>
    <div class="socials">
      <div class="social-icon">
        <ion-img src="../../../assets/google.png"></ion-img>
      </div>
    </div>
  </div>

</ion-content>
