<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <h1>
      Forgot Password
    </h1>
    <p>Enter your email used on your account</p>
  </div>

  <form action="">
    <div class="form-field">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input type="email" placeholder="Email adress"></ion-input>
    </div>

    <ion-button expand="block">Submit</ion-button>
  </form>
</ion-content>